:root {
    --background: rgb(244, 236, 216);
    --main_dark: #716F6A;
    --main_light: #9D998F;
    --accent1: #708F71;
    --accent2: #707E8F;
    --accent3: #8F708E;
    font-size: medium;
}


.barvna_paleta {
    display:flex;
    flex-direction: row;
    align-items:stretch;
    align-self: flex-end;

    width: 100%;
    height: 20%;

    box-shadow: 0px 0px 3px var(--background);
}

.paleta {
    width: 16.6667%;
}