.menu {
    position: fixed;
    float: left;
    background-color: #9D998F;
    width: 20%;
    height: 90%;
    top: 10%;
}

.menu_gumb {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 1.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #716F6A;
    border-top: 2px solid #9D998F;
    height: 10%;
}

.glava {
    position: fixed;
    top: 0;
    height: 10%;
    background-color: #676561;
    width: 100%;
    display: flex;
    align-items: center;
}

.naslov {
    margin-left: 2%;
    font-size: 4.1vw;
    font-weight: 900;
    color: white;
}