.menu {
    position: fixed;
    float: left;
    background-color: var(--main_light);
    width: 20%;
    height: 90%;
    top: 10%;
    box-shadow: 2px 5px 10px gray;
}

.menu_gumb {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 1.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main_dark);
    border-top: 2px solid var(--main_light);
    height: 10%;
    transition: all;
    transition-duration: 250ms;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu_gumb:hover {
    transition: all;
    transition-duration: 250ms;
    height: 14%;
    background-color: var(--accent1);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

/*#676561*/

.glava {
    position: fixed;
    top: 0;
    height: 10%;
    backdrop-filter: blur(10px);
    background-color: rgba(103, 101, 97, 0.9);
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 3px 3px 10px;
}

.naslov {
    margin-left: 2%;
    font-size: 4.1vw;
    font-weight: 900;
    color: white;
}

.pokazi_menu {
    display: none;
}

.jezik {
    transition: 200ms;
    padding: 1%;
    border-radius: 10px;
    text-decoration: none;
    position: absolute;
    right: 1%;
    font-size: 2vw;
    color: white;
}

.jezik:hover {
    transition: 200ms;
    background-color: var(--accent1);
}

.current {
    background-color: var(--accent1);
}

.logo {
    box-shadow: none;
    max-height: 80%;
    rotate: 45deg;
}

@media screen and (orientation: portrait) {
    .pokazi_menu {
        display: inline;
        max-height: 100%;
        box-shadow: none;
    }
}