.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--main_light);
    width: 20%;
    height: 90%;
    top: 10%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.menu_gumb {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 4.5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main_dark);
    border-top: 2px solid var(--main_light);
    height: 10%;
    transition: all;
    transition-duration: 250ms;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu_gumb:hover {
    transition: all;
    transition-duration: 250ms;
    height: 14%;
    background-color: var(--accent1);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.vaje_gimvic {
    /*edit if uploaded to vaje.gimvic.org*/
    display: none;
    background-color: var(--accent2);
}

.glava {
    position: fixed;
    top: 0;
    height: 10%;
    /*backdrop-filter: blur(5px); -- scrollanje je ful laggy*/
    background-color: rgba(103, 101, 97, 1);
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 10px;
}

.naslov {
    margin-left: 2%;
    font-size: 5.5vmin;
    font-weight: 900;
    color: white;
}

.pokazi_menu {
    display: none;
}

.jezik {
    display: flex;
    position: absolute;
    right: 1%;

    height: 10vmin;
    width: 10vmin;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    text-decoration: none;
    font-size: 5vmin;
    color: white;

    transition: 200ms;
}

.jezik:hover {
    transition: 200ms;
    background-color: var(--accent1);
}

.current {
    background-color: var(--accent1);
}

.logo {
    box-shadow: none;
    max-height: 80%;
    rotate: 45deg;
    margin-left: 2%;
}

.noga {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 30vh;
    margin-left: 20%;
    margin-top: 3vh;
    z-index: -1;

    background-color: var(--main_dark);
    color: white;
}

@media screen and (orientation: portrait) {
    .pokazi_menu {
        display: inline;
        max-height: 100%;
        box-shadow: none;
    }

    .menu_gumb {
        font-size: 8vmin;
    }

    .menu {
        display: none;
    }

    .noga {
        margin-left: 0;
        width: 100%;
    }
}