body {
    margin: 0;
    background-color: var(--background);
    font-size: larger;
    font-family: "Sans Serif", "Arial";
}

a {
    color: var(--accent1);
}


.vsebina {
    margin-left: 20%;
    margin-top: 14vh;
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
}


h1,
h2 {
    font-size: xx-large;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: var(--accent1);
}

img {
    margin-left: 8%;
    box-shadow: 3px 3px 5px var(--accent1);
    max-width: 84%;

}



@media screen and (orientation: landscape) {
    article {
        padding-left: 8%;
        max-width: 84%;
    }

}


@media screen and (orientation: portrait) {
    img {
        max-width: 100%;
    }

    .vsebina {
        margin: 0;
        margin-top: 8vh;
        width: 96%;
        padding: 2%;
        font-size: 4vw;
    }

    h1,
    h2 {
        font-size: 8vw;
        border-width: 7px;
    }
}