body {
    background-color: rgb(244, 236, 216);
    font-size: larger;
}


.vsebina {
    position: relative;
    left: 20%;
    width: 74%;
    margin-top: 0px;
    padding-left: 2%;
    padding-right: 4%;
}

article {
    max-width: 80%;
}

h1,
h2,
h3 {
    font-size: xx-large;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #716F6A;
}

@media screen {
    img {
        max-width: 50%;
    }
}