body {
    background-color: dodgerblue;
}

.vsebina {
    position: absolute;
    left: 21%;
    background-color: dodgerblue;
    width: 79%;
    height: 100%;
    top: 0px;
}

h1 {
    font-weight: bold;
}

.menu {
    position: fixed;
    left: 0px;
    background-color: white;
    width: 20%;
    height: 100%;
    top: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu_gumb {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: powderblue;
    border: 2px solid black;
    border-radius: 20px;
    width: 90%;
    height: 5%;
    margin-top: 5%;
    margin-left: 4%;
}